.hsganswer{
      width: 80px;
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
}

.statement {
    min-height: 90px;
}

#thesesbox{
	min-height: 250px;
}


.top-buffer {
    margin-top:80px;
}

.bottom-buffer {
    margin-bottom:60px;
}

.pagination > .pagination-yes > a {
    color: #FFF;
    background-color: #5CB85C;
}
.pagination > .active.pagination-yes > a {
    color: #FFF;
    background-color: #428BCA;
}
.pagination > .pagination-neutral > a {
    color: #FFF;
    background-color: #F0AD4E;
}
.pagination > .active.pagination-neutral > a {
    color: #FFF;
    background-color: #428BCA;
}
.pagination > .pagination-no > a {
    color: #FFF;
    background-color: #D9534F;
}
.pagination > .active.pagination-no > a {
    color: #FFF;
    background-color: #428BCA;
}

.progress {
	margin-bottom: 0px;
}
